.footer {
  background-color: var(--unnamed-color-2a3037);
  height: 80px;
}

.footer-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  height: 14px;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

@media (min-width: 750px) {
  .footer {
    height: 95px;
  }
}
